@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200&family=Rancho&display=swap");

/* html {
  height: 100vh;
} */

* {
  box-sizing: border-box;
}

#header {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

body {
  overflow-x: hidden;
  background: rgb(135, 221, 247);
  min-height: 100vh;
}

#section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}

#section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
#section img #sun {
  width: 10%;
  height: 10%;
}

#section #text {
  position: absolute;
  color: orange;
  font-size: 10vw;
  text-align: center;
  line-height: 0.55em;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
}

#section #text span {
  font-size: 0.2em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background: orange;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
  margin-top: 410px;
}
.sec {
  position: relative;
  padding: 100px;
  background: #094b65;
  min-height: 100vh;

}
.sec h2 {
  font-size: 3.5em;
  color: white;
  margin-bottom: 10px;
}
.sec p {
  font-size: 1em;
  color: white;
}

#heading {
  font-size: 3em;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.posts p {
  line-height: 20px;
  height: 80px;
  overflow: hidden;
}



.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(135, 221, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: orange;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
